---
# necessary front matter
---

// need this for the media queries
@import "variables";

// need this for font sizing
@import "type";

.coffee-photo {
	position: relative;
	margin: 5rem 0 1rem 0;

	.cafe, .address {
		display: block;
	}

	.cafe {
		margin: 0;
		text-transform: none;
	}
	.address {
		opacity: 0.9;
	}
	.source {
		@include type-base-small;
		display: block;
		margin: 0;
		color: #999;
		text-align: right;
	}


	@include screen-small {
		.cafe, .address {
			position: absolute;
			padding: 0 2rem;
			color: #fff;
			text-shadow: rgba(0,0,0,0.25) 0 5px 5px;
		}
		.cafe {
			font-size: 1.5rem;
			bottom: 6rem;
		}
		.address {
			bottom: 4rem;
		}
	}

	@include screen-medium {
		.cafe {
			font-size: 2.5rem;
		}
	}
}


.hm .address {
	@include type-base-small;
	color: #999;
}