<footer class="site-footer">

	<div class="wrapper">


		<ul class="link-list link-list-3up">
			<li class="link link-twitter">
				<a href="https://twitter.com/mezzoblue">mezzoblue</a>
			</li>
			<li class="link link-makerbase">
				<a href="https://makerba.se/m/uoqfpw/mezzoblue">makerbase</a>
			</li>
			<li class="link link-github">
				<a href="https://github.com/mezzoblue">github</a>
			</li>
			<li class="link">
				<a href="/about/">About Me</a>
			</li>
		</ul>

	    <p>
	    	<span>&copy; Copyright 2015&#8211;2016 Dave Shea, All Rights Reserved.</span>
	    	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License</a>
	    </p>
  
	</div>

</footer>
