//  -------------------------------------------
//
//      Individual Project customizations
//      (colour & imagery)
//
//  -------------------------------------------



//
//  styleProject mixin
//  assign base colour settings to a project's main listing and page header
//
@mixin styleProject(
    $projectName,
    $projectBGColour:$grey-colour,
    $projectTextColour:$white,
    $projectAccentColour:$accent-colour,
    $projectSecondaryOpacity:0.1
    ) {

    // listing page styling
    .project-#{$projectName} {
        .project-title {
            color: $projectTextColour;
        }
        .project-date {
            color: rgba($projectTextColour, 0.7);
        }
    }

    // individual project page styling
    .page-project-#{$projectName} {
        .site-title,
        .site-title-back {
            color: rgba($projectTextColour, 0.7);
            transition: color $animation-timing ease-out;
            &:hover, &:focus {
                color: $projectTextColour;
            }
        }

        .project-title {
            color: $projectTextColour;
        }

		a {
			color: $projectAccentColour;
		}

        .project-thumb img, .project-frame {
            background-color: rgba($projectBGColour, 0.3);
        }

        .project-story {
            background-color: rgba($projectBGColour, $projectSecondaryOpacity);
        }

        .project-wip-title {
            color: $projectBGColour;
        }

        .site-footer {
            color: $projectTextColour;
            background-color: rgba($projectBGColour, 0.9);
        }
	}

    // shared styling between both
	.project-#{$projectName} .link,
	.page-project-#{$projectName} .project-header {
	    background-color: $projectBGColour;
	}

}


//
//  styleProjectImage mixin
//  adjust a project's main image properties
//
@mixin styleProjectImage($projectName) {

	.project-#{$projectName} .link::after,
	.page-project-#{$projectName} .project-header {
	    @content;
	}
}



//
//  Project settings: Palate Deck
//
$pdTextColour: #75392e;
$pdAccentColour: #DB6953;
$pdBaseColour: #E4BAA3;
@include styleProject("palatedeck", $pdBaseColour, $pdTextColour, $pdAccentColour);
@include styleProjectImage("palatedeck") {
    background-image: 
        linear-gradient(
            to bottom,
            rgba($pdBaseColour, 0.9) 0%,
            rgba($pdBaseColour, 0.7) 100%
        ),
        url(/i/projects/palatedeck/main.jpg);
    background-size: 
        100% 100%,
        cover;
}



//
//  Project settings: CSS Zen Garden
//
$zenTextColour: #d2dddb;
$zenAccentColour: #0d8ba1;
$zenBaseColour: #074c4c;
@include styleProject("zen", $zenBaseColour, $zenTextColour, $zenAccentColour);
@include styleProjectImage("zen") {

    background-image: 
        url(/i/projects/zen/noise.png),
        url(/i/projects/zen/gridlines.png),
        url(/i/projects/zen/contours.png),
        url(/i/projects/zen/main.jpg);
    background-repeat:
        repeat,
        repeat,
        repeat,
        no-repeat;
    background-size: 
        auto auto,
        auto auto,
        auto auto,
        cover;
}



//
//  Project settings: Style & Class
//
$scTextColour: #fff;
$scAccentColour: #ff502d;
$scBaseColour: #6a3146;
@include styleProject("style-class", $scBaseColour, $scTextColour, $scAccentColour);
@include styleProjectImage("style-class") {
    background-image: url(/i/projects/s&c/main2.min.png);
    background-size: cover;
}



//
//  Project settings: Farmhouse Fest
//
$fhfTextColour: #5a3213;
$fhfAccentColour: #a26e6b;
$fhfBaseColour: #ddc8b3;
@include styleProject("farmhouse-fest", $fhfBaseColour, $fhfTextColour, $fhfAccentColour, 0.2);
@include styleProjectImage("farmhouse-fest") {
    background-image: url(/i/projects/fhf/main2.min.jpg);
    background-size: cover;
}

.project-farmhouse-fest {
    .link:hover, .link:active {
        .project-title, .project-date {
            text-shadow: 0 0 10px rgba($fhfBaseColour, 0.5);
        }
    }
}

//
//  Project settings: Nautical Disaster
//
$ndTextColour: #ea8d08;
$ndAccentColour: #309acb;
$ndBaseColour: #350d09;
@include styleProject("nautical-disaster", $ndBaseColour, $ndTextColour, $ndAccentColour);
@include styleProjectImage("nautical-disaster") {
    background-image: 
        linear-gradient(
            to bottom,
            rgba($ndBaseColour, 0.4) 20%,
            rgba($ndBaseColour, 0.2) 100%
        ),
        url(/i/projects/nd/main6.min.png);
    background-position: top center;
    background-size: 
        100% 100%,
        cover;
}



//
//  Project settings: mezzoblue
//
$mezzoblueTextColour: #fff;
$mezzoblueAccentColour: #50a8ff;
$mezzoblueBaseColour: #3069a1;
@include styleProject("mezzoblue", $mezzoblueBaseColour, $mezzoblueTextColour, $mezzoblueAccentColour);
@include styleProjectImage("mezzoblue") {
    background-image:
        linear-gradient(
            to bottom,
            rgba($mezzoblueBaseColour, 0.6) 0%,
            rgba($mezzoblueBaseColour, 0.9) 100%
        ),
        url(/i/projects/mezzoblue/logo.min.png);
    background-position:
        0 0,
        10% top;
    background-size: 
        auto auto,
        300px 300px;
}
.page-project-mezzoblue .project-header {
    background-size: 
        auto auto,
        400px 400px;
}

//
//  Project settings: Elevation
//
$elevationTextColour: #542a06;
$elevationAccentColour: #712113;
$elevationBaseColour: #b05631;
@include styleProject("elevation", $elevationBaseColour, $elevationTextColour, $elevationAccentColour);
@include styleProjectImage("elevation") {
    background-image:
        linear-gradient(
            to right,
            rgba($elevationBaseColour, 0) 0%,
            rgba($elevationBaseColour, 1) 100%
        ),
        url(/i/projects/elevation/main3.min.png);
}
.page-project-elevation .project-header {
    background-image: 
        linear-gradient(
            to bottom,
            rgba($elevationBaseColour, 0.8) 0%,
            rgba($elevationBaseColour, 0.1) 100%
        ),
        url(/i/projects/elevation/main3.min.png);
}
.project-elevation {
    .link:hover, .link:active {
        .project-title, .project-date {
            text-shadow: 0 0 5px rgba($elevationBaseColour, 1);
        }
    }
}

//
//  Project settings: PaintbrushJS
//
$paintbrushTextColour: #fff;
$paintbrushAccentColour: #da5493;
$paintbrushBaseColour: #446a0b;
@include styleProject("paintbrush", $paintbrushBaseColour, $paintbrushTextColour, $paintbrushAccentColour);
@include styleProjectImage("paintbrush") {
    background-image: url(/i/projects/paintbrush/main3.min.jpg);
}
.page-project-paintbrush .project-header {
    background-image: 
        linear-gradient(
            to bottom,
            rgba($paintbrushBaseColour, 0.4) 0%,
            rgba($paintbrushBaseColour, 0.4) 100%
        ),
        url(/i/projects/paintbrush/main3.min.jpg);
}

// extra special form control styling
.pbjs-form {
    position: relative;
    padding-bottom: 1rem;
    label {
        font-size: 1rem;
    }
    img {
        opacity: 1;
    }
    .selector {
        display: inline-block;
        padding-left: 1.5rem;
    }
    .controls {
        display: inline-block;
        padding-right: 1.5rem;
        label {
            margin-left: 1.5rem;
        }
    }

    @include screen-medium {
        .controls {
            float: right;
        }
    }
}


//
//  Project settings: Chalkwork
//
$chalkworkTextColour: #fff;
$chalkworkAccentColour: #ba7334;
$chalkworkBaseColour: #77231f;
@include styleProject("chalkwork", $chalkworkBaseColour, $chalkworkTextColour, $chalkworkAccentColour);
@include styleProjectImage("chalkwork") {
    background-image: 
        linear-gradient(
            to bottom,
            rgba($chalkworkBaseColour, 0.8) 0%,
            rgba($chalkworkBaseColour, 0.6) 100%
        ),
        url(/i/projects/chalkwork/main5.min.jpg);
    background-size:
        100% auto,
        cover;
}
.page-project-chalkwork .project-gallery-1 {
    .project-thumb {
        margin-left: auto;
        margin-right: auto;

        text-align: center;

        .project-frame {
            display: inline-block;
        }

        img {
            max-width: none;

            @include screen-large {
                width: auto;
            }
        }

    }
}

//
//  Project settings: Web Directions North
//
$wdnTextColour: #fff;
$wdnAccentColour: #b88433;
$wdnBaseColour: #1f4996;
@include styleProject("wdn", $wdnBaseColour, $wdnTextColour, $wdnAccentColour);
@include styleProjectImage("wdn") {
    background-image: 
        linear-gradient(
            to bottom,
            rgba($wdnBaseColour, 0.5) 0%,
            rgba($wdnBaseColour, 0.5) 100%
        ),
        url(/i/projects/wdn/main3.min.jpg);
}


//
//  Project settings: Zen of CSS Design
//
$zenbookTextColour: #fff;
$zenbookAccentColour: #dc982e;
$zenbookBaseColour: #a57843;
@include styleProject("zen-book", $zenbookBaseColour, $zenbookTextColour, $zenbookAccentColour);
@include styleProjectImage("zen-book") {
    background-image:
            linear-gradient(
            to bottom,
            rgba($zenbookBaseColour, 0.8) 0%,
            rgba($zenbookBaseColour, 0.9) 100%
        ),
        url(/i/projects/zen-book/header2.min.jpg);
    background-size:
        100% auto,
        cover;
}
.page-project-zen-book .project-thumb img {
    opacity: 1;
}


//
//  Project settings: CSS Sprites
//
$spritesTextColour: #fff;
$spritesAccentColour: #e8800f;
$spritesBaseColour: #713;
@include styleProject("css-sprites", $spritesBaseColour, $spritesTextColour, $spritesAccentColour);
@include styleProjectImage("css-sprites") {
    background-image: 
            linear-gradient(
            to bottom,
            rgba($spritesBaseColour, 0.7) 0%,
            rgba($spritesBaseColour, 0.9) 100%
        ),
        url(/i/projects/sprites/main2.min.png);
}
