---
layout: default
---


<div class="about-header">
	<div class="wrapper">
		<img src="https://pbs.twimg.com/profile_images/1689518203/avatar-large2.jpg" />

	    <h1 class="page-title">{{ page.title }}</h1>

		<em>If you're here for something to use elsewhere, scroll down to the <a href="#professional">Professional Bio</a>. Everyone else can ignore that bit.</em>
	</div>
</div>

<div class="page-content page-about">
	<div class="wrapper">

		<article class="post-content">
			{{ content }}
		</article>

	</div>
</div>
