---
layout: default
---


<div class="about-header">
	<div class="wrapper">
		<img src="https://pbs.twimg.com/profile_images/1689518203/avatar-large2.jpg" />

	    <h1 class="page-title">{{ page.title }}</h1>

		<p>Hi, I'm Dave Shea and you've found my site. This is a collection of projects, pursuits, social media channels and whatever else I feel like putting on here.</p>

	</div>
</div>

<div class="page-content page-about">
	<div class="wrapper">

		<article class="post-content">
			{{ content }}
		</article>

	</div>
</div>
